*{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 55px;
    font-weight: 500;
    padding-top: 40%;
}
.container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.pushContainer{
    text-align: center;
}
.pushBlock {
    margin-top: -88px;
    margin-bottom: 30px;
}
.push{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-image: url('/images/Hand-Touch-icon.png');
    background-size: cover;
    height: 350px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
.push:active{
    background-image: url('/images/Hand-Touch-icon1.png');
}
.push img{
    width:  40%;
    height: 40%;
}
.facebookButton{
    margin-top: 30px;
}
.name{
    padding-top: 20px;
}
.myBest{
    font-size:25px;
}
/*.timer{*/
    /*display: none;*/
    /*margin-top: 80px;*/
    /*font-size: 30px;*/
/*}*/
.time{
    font-size: 30px;
    display: none;
}
.resault{
    font-size: 30px;
    display: none;
}
.resaultAndShare{
    display: none;
}
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
@media only screen and (max-width: 500px) {
    
    .push{
        height: 200px;
        width: 60%;
        margin: 0 auto;
        margin-top: 50%;
    }
    .name{
        font-size: 14px;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 770px) {

    .push{
        height: 340px;
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    .name{
        font-size: 10px;
    }
}
@media only screen and (max-width: 770px) and (min-width: 740px) {
    .push{
        height: 340px;
        width: 50%;
        margin: 0 auto;
        margin-top: 20%;
    }
    .name{
        font-size: 10px;
    }
}

@media only screen and (max-width: 740px) and (min-width: 700px) {
    .push{
        height: 340px;
        width: 50%;
        margin: 0 auto;
        margin-top: 20%;
    }
    .name{
        font-size: 10px;
    }
}
@media only screen and (max-width: 700px) and (min-width: 625px) {
    .push{
        height: 300px;
        width: 50%;
        margin: 0 auto;
        margin-top: 20%;
    }
    .name{
        font-size: 10px;
    }
}
@media only screen and (max-width: 625px) and (min-width: 530px) {
    .push{
        height: 250px;
        width: 50%;
        margin: 0 auto;
        margin-top: 20%;
    }
    .name{
        font-size: 10px;
    }
}